$red: #e50914;
$black: #141414;
$dark-grey: #181818;
$grey: #808080;
$gold: #ffc107;

$text-main: #ffffff;
$text-muted: #b3b3b3;

$bg-color: $black;
$card-bg: #2f2f2f;
$transition-speed: 0.3s ease;

$font-family: 'Commissioner', 'Arial', sans-serif;
$font-weight-extra-light: 200;
$font-weight-regular: 300;
$font-weight-medium: 400;
$font-weight-semi-bold: 600;
$font-weight-black: 900;

$header-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0));
$card-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

$transition-speed: 0.3s ease;
$blur-intensity: 25px;
