@use 'variables' as v;

.main-content {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding-top: 60px;
  background-color: v.$bg-color;
  box-sizing: border-box;
  min-height: calc(100vh - 56.64px);
}
